body{
    font-family: 'Roboto', sans-serif;  
}

h1{
    text-align: center;
}

a,img{
    display: block;
}

a{
    margin: 50px;
    text-decoration: none;
    color: black;
}

a:hover{
    color: aqua;
}

img{
margin: auto;
}

a{
    text-align: center;
}

div h2{
    text-align: center;
    display: block;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}

div,p{
    text-align: center;
}

h2{
    text-align: center;
    display: block;
    background-image: url(/img/fondo3.jpg);
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}

header{

    background-image: linear-gradient(to right top, #202020, #1b1b1b, #171717, #121212, #0b0b0b, #070707, #040404, #000000, #000000, #000000, #000000, #000000);
    padding: 1px;
    border-radius: 10px;
}

.imagenminecraft{
    background-color: #121212;    
}

.container p{
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.primerparrafo p{

}

.parrafo2 h2{
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);

}

.divzombie{
    margin: 30px;
    top: 50%;

}

.divmobs{
    text-align: center;
}

.modos img{
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}

div h3{
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
    background-image: url(/img/fondo3.jpg);  
}

.pie-pagina{
    width: 100%;
    background-color: green;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: rgb(19, 82, 9);
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: green;
}

.pie-pagina .grupo-2{
    background-color: rgb(19, 82, 9);
    padding: 15px 10px;
    text-align: center;
    color:#fff
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }
}

.mobs{
    margin: 30px;
}

.pie-pagina{
    text-shadow: 0 50 50px rgba(0, 0, 0, 0.8);
}