
.icon-whatmail:before { content: '\e800'; } /* '' */
.icon-whatplay:before { content: '\e801'; } /* '' */
.icon-whatyoutube-play:before { content: '\f16a'; } /* '' */
.icon-whatwhatsapp:before { content: '\f232'; } /* '' */
.icon-whattwitter:before { content: '\f309'; } /* '' */
.icon-whatfacebook:before { content: '\f30c'; } /* '' */
.icon-whatgplus:before { content: '\f30f'; } /* '' */
.icon-whatpinterest:before { content: '\f312'; } /* '' */
